label{
    margin-left: auto;
    margin-right: auto;
}

.slide-container {
    margin-top: 3%;
}

input[type=range][orient=vertical]
{
    margin-left: auto;
    margin-right: auto;
    writing-mode: bt-lr; /* IE */
    border-radius: 5px;
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range][orient=vertical]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkgray;
    cursor: pointer;
}

input[type=range][orient=vertical]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkgray;
    cursor: pointer;
}

